    <div style="margin:30px">
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail text-center">
                    <i class="fa fa-pied-piper-alt" style="font-size:100px"></i>
                    <div class="caption">
                        <h3>陳彥安</h3>
                        <p>工管系大三</p>
                        <p>B02701211</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail text-center">
                    <i class="fa fa-pied-piper-alt" style="font-size:100px"></i>
                    <div class="caption">
                        <h3>黃澤棋</h3>
                        <p>工管系大三</p>
                        <p>B02701111</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail text-center">
                    <i class="fa fa-pied-piper-alt" style="font-size:100px"></i>
                    <div class="caption">
                        <h3>王上瑜</h3>
                        <p>工管系大三</p>
                        <p>B02701145</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail text-center">
                    <i class="fa fa-pied-piper-alt" style="font-size:100px"></i>
                    <div class="caption">
                        <h3>陳靜玟</h3>
                        <p>商研所碩一</p>
                        <p>R04741035</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail text-center">
                    <i class="fa fa-pied-piper-alt" style="font-size:100px"></i>
                    <div class="caption">
                        <h3>張文晉</h3>
                        <p>商研所碩二</p>
                        <p>R03741069</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail text-center">
                    <i class="fa fa-pied-piper-alt" style="font-size:100px"></i>
                    <div class="caption">
                        <h3>鍾冠宇</h3>
                        <p>資管所碩二</p>
                        <p>R03725040</p>
                    </div>
                </div>
            </div>
        </div>
    </div>