<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">CrimsonTaiwan</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/visualization"><span class="glyphicon glyphicon-tent"></span> 台灣 Taiwan</a></li>
                <li><a href="/teammates"><span class="glyphicon glyphicon-send"></span> 隊友 Teammates</a></li>
                <li><a target="_blank" href="https://github.com/damncan/CrimsonTaiwan"><span class="glyphicon fa fa-github fa-lg"></span> 原始碼 Code</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>